# Ignore Gradle project-specific cache directory
.gradle

# Ignore the gradle wrapper itself
gradle/

# Ignore Gradle build output directory
build

# Personal Advent of Code inputs
inputs-private

.settings/

bin/
